
*{
	box-sizing: border-box;
	margin:0;
	color:white;
}

body{
	background:hsl(229, 57%, 11%) url(images/bg-mobile.png)no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: 100% 100vh;
	min-height: 100vh;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

main{
	display:grid;
	align-items: flex-end;
	grid-template-columns:90vw;
	gap:15px;
	padding:20px
}
@media (min-width:600px) {
	nav{
		min-width: 270px;
		width:30vw;
	}
	main{
	grid-template-columns: 1.7fr 2.6fr;
	}
}
nav{
	background:hsl(228, 56%, 26%);
	padding:40px;
	border-radius: 10px 100px 10px 10px;
	max-width: 350px;
}



.logo{
	width: min(135px,100%);
}
.icons{
	margin-top: 25px;
	
}
.icons div{
	width:50px;
	margin: 5px;
	padding:14px;
	background:hsl(229, 57%, 11%);
	border-radius: 10px;
	color:white;
	width: fit-content;
	display:inline-block;
}
.icons div img{
	object-fit: contain;
	vertical-align: middle;
}
section{
	position:relative;
	background:hsl(228, 56%, 26%);
	padding:40px;
	border-radius: 10px;
	max-width: 540px;
	
}
section span{
	font-weight: 700;
}
.storage-bar{
	
	padding:3px;
	height: 20px;
	background:hsl(229, 57%, 11%);
	border-radius: 20px;
}
.storage{
	position: relative;
	border-radius: 20px;
	background:linear-gradient(to right,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
	height:100%;
	width:100%;
	padding:1px;
}
.storage::after{
	position:absolute;
	right:1px;
	border-radius:100%;
	background:white;
	content: "";
	width:12px;
	height: 12px;
	
 
}
.zero-size{
	float: left;
}
.max-size{
	float:right;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
